/*
 * @Description: 
 * @Author: Kenzi
 * @Date: 2021-08-11 19:34:28
 * @LastEditTime: 2021-08-20 13:42:00
 * @LastEditors: Kenzi
 */

@tailwind components;

@layer components {
  .button {
    @apply px-4 py-2 border rounded-full cursor-pointer hover:shadow-lg active:scale-95 active:bg-gray-100 transition transform duration-100 ease-out;
  }
}

body {
  margin: 0;
  padding: 0;
  /* fix no full width when screen width 360px */
  min-width: 450px;
}

::-webkit-scrollbar {
  width: 6px;
}

::-webkit-scrollbar-track {
  background-color: rgba(143, 141, 141, 0.2);
  cursor: pointer;

  /*background: red;*/
}

::-webkit-scrollbar-thumb {
  background-color: #a5a5a5;
  border-radius: 5px;

  /*outline: 1px solid slategrey;*/
}
